<p>{{pageTitle}} works!</p>
<header>
    <menu></menu>
</header>

<body>
    <div>
        <h2>New Product</h2>
        <form>
            <div class="from-group">
                <label for="photoLink">Photo Link</label>
                <input type="text" id="photoLink">
            </div>
            <div class="from-group">
                <label for="partNumber">Part Number</label>
                <input type="text" id="partNumber">
            </div>
            <div class="from-group">
                <label for="name">Name</label>
                <input type="text" id="name">
            </div>
            <div class="form-group">
                <label for="vendor">Vendor</label>
                <select id="vendor">
                    <option value="">Select a vendor</option>
                    <option value="fike">Fike</option>
                    <option value="protectoseal">Protectoseal</option>
                    <!-- Add more options for additional vendors -->
                </select>
            </div>
            <div class="from-group">
                <label for="unit">Unit</label>
                <input type="text" id="unit">
            </div>
            <div class="from-group">
                <label for="price">Price</label>
                <input type="text" id="price">
            </div>
        </form>
    </div>

    <button>Save</button>
</body>

<footer></footer>