<header>
    <menu></menu>
</header>

<body>
    <div>
        <h2>New Product</h2>
        <table class="table table-sm">
            <tr>
                <td>Part Number:</td>
                <td>
                    <input [(ngModel)]="products.partNbr" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <input [(ngModel)]="products.name" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>Price:</td>
                <td>
                    <input [(ngModel)]="products.price" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>Unit:</td>
                <td>
                    <input [(ngModel)]="products.unit" class="rounded" type="text">
                </td>
            </tr>
            <tr>
                <td>Photo Path:</td>
                <td>
                    <input [(ngModel)]="products.photoPath" class="rounded" type="text" maxlength="2">
                </td>
            </tr>
            <tr>
                <td>Vendor:</td>
                <td>
                  <select [(ngModel)]="products.vendor" class="rounded">
                    <option value="">Select a vendor</option>
                    <option value="fike">Fike</option>
                    <option value="protectoseal">Protectoseal</option>
                  </select>
                </td>
              </tr>
        </table>
    </div>

    <button (click)="createProduct()">Save</button>
</body>

<footer></footer>