<p>{{pageTitle}} works!</p>
<header>
    <menu></menu>
</header>

<div>
    <h2>Product Information</h2>
    <form>
        <div class="form-group">
            <label for="photoPath">Photo Path</label>
            <input type="text" id="photoPath">
        </div>
        <div class="form-group">
            <label for="partNbr">Part Number</label>
            <input type="text" id="partNbr">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name">
        </div>
        <div class="form-group">
        <label for="vendor">Vendor</label>
        <select id="vendor">
            <option value="">Select a vendor</option>
            <option value="fike">Fike</option>
            <option value="protectoseal">Protectoseal</option>
            <!-- Add more options for additional vendors -->
        </select>
        </div>
        <div class="form-group">
            <label for="unit">Unit</label>
            <input type="text" id="unit">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" id="price">
        </div>
    </form>
</div>

<button>Save</button>

<footer></footer>