<header>
    <menu></menu>
</header>

<div class="card">
    <div class="card-body">     
                            <!-- one way binding-->
        <h5 class="card-title">{{ pageTitle }}</h5>
        <button routerLink="/product/create">Create</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Part Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Detail</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                <!-- define a local variable named product that represents each individual product in the products array during the iteration.-->
                <tr *ngFor="let product of products">
                    <td scope="row">{{ product.partNbr }}</td>
                    <td scope="row">{{ product.name }}</td>
                    <td scope="row">{{ product.price }}</td>
                    <td scope="row">{{ product.unit }}</td>
                    <td scope="row">
                        <img src="{{ product.photoPath }}" alt="Product Photo" height="100">
                    </td>
                    <td scope="row">{{ product.vendor.name }}</td>
                    <td> 
                        <a routerLink="/product/detail/{{ product.id }}">
                            <img class="icon" src="../../../assets/info.png">
                        </a>
                    </td>
                    <td> 
                        <a routerLink="/product/edit/{{ product.id }}">
                            <img class="icon" src="../../../assets/edit.png">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<footer></footer>