<p>{{pageTitle}} works!</p>
<header>
    <menu></menu>
</header>

<div>
    <h2>Request Information</h2>
    <ng-container *ngIf="requests">
      <form>
        <div class="form-group">
          <label for="submittedDate">SubmittedDate</label>
          <input type="string" id="submittedDate" class="form-control" [(ngModel)]="requests.submittedDate" name="submittedDate" disabled>
        </div>
        <div class="form-group">
            <label for="dateNeeded">Date Needed</label>
            <input type="date" id="dateNeeded" class="form-control" [(ngModel)]="requests.dateNeeded" name="dateNeeded" disabled>
          </div>
        <div class="form-group">
          <label for="user">User</label>
          <input type="text" id="user" class="form-control" [(ngModel)]="requests.user.username" name="user" disabled>
        </div>
        <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control" [(ngModel)]="requests.description" name="description" disabled>
        </div>
        <div class="form-group">
            <label for="justification">Justification</label>
            <input type="text" id="justification" class="form-control" [(ngModel)]="requests.justification" name="justification" disabled>
        </div>
        <div class="form-group">
            <label for="deliveryMode">Delivery Mode</label>
            <input type="text" id="deliveryMode" class="form-control" [(ngModel)]="requests.deliveryMode" name="deliveryMode" disabled>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <input type="text" id="status" class="form-control" [(ngModel)]="requests.status" name="status" disabled>
        </div>
        <div class="form-group">
            <label for="rejectionReason">Rejection Reason</label>
            <input type="text" id="rejectionReason" class="form-control" [(ngModel)]="requests.rejectionReason" name="rejectionReason" disabled>
        </div>
        <div>
            <app-line-item-list> </app-line-item-list>
          </div>
      </form>
    </ng-container>
  </div>

  <button routerLink="/request/edit/{{ requests.id }}">Edit</button>
  <br>
  <button class="delete">Delete</button>
    
<footer></footer>