/* You can add global styles to this file, and also import other style files */
.icon {
    max-width: 30px;
}

header {
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: middle;
    text-align: left;
    border-top: 1px solid #dee2e6;
  }
  
  .table th {
    font-weight: bold;
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody tr:nth-of-type(even) {
    background-color: #f8f9fa;
  }
  
  .icon {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
  }
