<header>
    <menu></menu>
</header>

<body>
    
    <h1>Welcome To J.A. McAnly Associates</h1>
    <h4> specializing in providing manufacturing plants with fire suppression, pressure relief, and explosion protection equipment.
         With several years of experience in the industry, we have established a reputation for offering high-quality products and excellent customer service. 
         Our mission is to help our clients prevent workplace accidents and protect their assets by providing reliable and effective safety equipment. 
         We stay up-to-date with the latest safety technologies and regulations to ensure our clients receive the best solutions for their specific needs.</h4>
    <img src="../../assets/home.jpg">

</body>

<footer></footer>
